<!DOCTYPE html>
<html lang="en" class="sx-layout">
    <head>
        <title>sx-css test layout</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link type="text/css" href="../css/variables.css" rel="stylesheet"/>
        <link type="text/css" href="../../src/layout.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="sx-body">
            <main class="sx-container sx-content sx-limit sx-button sx-form">
                <div>hidden</div>
                <div>
                    <h1>Headline</h1>
                    <details>
                        <summary>Summary</summary>
                        <p>These are the details.</p>
                    </details>
                    <p>This is some <a href="#">text</a> with <span class="sx-highlight">highlighted parts.</span></p>
                    <small>This is some small text.</small>
                    <p class="sx-error">This is an error message.</p>
                </div>
            </main>
        </div>
    </body>
</html>
