<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sx-css test table</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link type="text/css" href="../css/variables.css" rel="stylesheet"/>
        <link type="text/css" href="../../src/table.css" rel="stylesheet"/>
    </head>
    <body class="sx-table">
        <table class="sx-list">
            <colgroup>
                <col/>
                <col/>
                <col class="sx-action"/>
            </colgroup>
            <thead>
                <tr>
                    <th>Heading 1</th>
                    <th>Heading 2</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Line 1 Column 1
                    </td>
                    <td>
                        Line 1 Column 1
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                <tr>
                    <td>
                        Line 2 Column 1
                    </td>
                    <td>
                        Line 2 Column 1
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                <tr>
                    <td>
                        Line 3 Column 1
                    </td>
                    <td>
                        Line 3 Column 1
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <th>
                    Header 1
                </th>
                <td>
                    Content 1
                </td>
            </tr>
            <tr>
                <th>
                    Header 2
                </th>
                <td>
                    Content 2<br/>with line break
                </td>
            </tr>
            <tr>
                <th>
                    Header 3
                </th>
                <td>
                    Content 3
                </td>
            </tr>
        </table>
    </body>
</html>
