<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sx-css test tabs</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link type="text/css" href="../css/variables.css" rel="stylesheet"/>
        <link type="text/css" href="../../src/tabs.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="sx-tabs">
            <label class="sx-tab sx-selected">
                <input type="radio" name="filter" value="1" checked>
                Selected tab
            </label>
            <label class="sx-tab">
                <input type="radio" name="filter" value="2">
                Another tab
            </label>
            <label class="sx-tab">
                <input type="radio" name="filter" value="2">
                Third tab to break mobile
            </label>
        </div>
    </body>
</html>
