.sx-table table {
    margin-bottom: 1.5em;
    border-collapse: collapse;
    /* If the table needs more space than available on mobile devices, hide the shadow of the surrounding container. */
    background: white;
}

.sx-table th, .sx-table td {
    text-align: left;
    /* Have some white space in a table. */
    padding: .3em .6em;
}

.sx-table th {
    font-weight: bold;
    vertical-align: top;
}

/* Only list tables are required to have always a full width. */
.sx-list {
    width: 100%;
}

/* Use a separator on the rows of a list table.  */
.sx-list tr:not(:first-child) td {
    border-top: 1px solid lightgray;
}

/* The inner action button should only get minimal space. */
.sx-action {
    width: 1px;
}

/* If scrolled the header should be visible. Position it below the menu but above the table. */
.sx-table thead {
    position: sticky;
    top: 0;
    background: white;
    /* To have it above the table body. */
    z-index: 1000;
    /* Indicate the sticky header by a shadow. */
    box-shadow: 0 3px 0 lightgray;
}

/* Needs a small fix for use with menu. */
.sx-menu ~ * thead {
    top: 60px;
}

/* There needs to be extra space below the shadow. This styles the next available element to produce it. */
.sx-table thead ~ tbody tr:first-child td {
    padding-top: .8em;
}

.sx-table thead th {
    /* Padding is only available on cells. */
    padding-top: 1.3em;
}

/* If used in a non list table it should be aligned with the other content outside the table. */
.sx-table tbody th:first-child {
    padding-left: 0;
}

@media only screen and (max-width: 480px) {
    .sx-table table {
        width: 100%;
    }
    /* Allow breaking of long words. */
    .sx-table td {
        hyphens: auto;
        word-break: break-all;
    }
    /* Only use icons to reduce the needed size. This is completed in button.css. */
    .sx-table table button {
        font-size: 0;
        border-radius: 100%;
        width: 2.2rem;
        height: 2.2rem;
    }
}
