/* The tabs overlap with the details if not corrected. */
.sx-tabs {
    padding-top: .5em;
}

/* Clear the float. */
.sx-tabs:after {
    content: "";
    display: table;
    clear: both;
}

/* Indicate tabs. */
.sx-tab {
    float: left;
    /* Needs extra bottom spacing to not overlap the labels padding. */
    margin: 0 .5em 1.5em 0;
    padding: .5em;
    font-family: sans-serif;
    /* To position the input inside the label. */
    position: relative;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 2px 1px 4px var(--primary-color);
    transition: color .2s;
    cursor: pointer;
}

/* Hide the input but still have it accessible. */
.sx-tab input {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.sx-tab:not(.sx-selected):hover {
    color: var(--primary-color-highlight);
}

.sx-tab:not(.sx-selected):active {
    box-shadow: 0 0 2px var(--primary-color) inset;
}

/* Indicate the currently selected tab. The style must override the form label. */
.sx-selected.sx-selected {
    cursor: default;
    color: var(--primary-color-inverse);
    background: var(--primary-color);
}
